{% extends 'wagtailadmin/base.html' %}
{% load i18n %}
{% block titletag %}{% blocktrans with title=form.instance.title %}Editing {{ title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-contacts{% endblock %}

{% block extra_css %}
    {% include 'wagtailadmin/pages/_editor_css.html' %}
{% endblock %}

{% block extra_js %}
    <script src="/static/wagtailaddresses/js/address-chooser.js"></script>
    {% include 'wagtailadmin/pages/_editor_js.html' %}
    <script>
        window.chooserUrls.addressChooser = '{% url "wagtailaddresses_address_chooser" %}';
    </script>
{% endblock %}

{% block content %}
    {% trans 'Editing Contact' as editing_str %}
    {% include 'wagtailadmin/shared/header.html' with title=editing_str subtitle=form.instance.name icon='group' %}
    <form action="{% url 'wagtailcontacts_edit_contact' pk=form.instance.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}
        <footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup dropdown-button match-width">
                        <input type="submit" value="{% trans 'Save' %}" class="button"/>
                        <div class="dropdown-toggle icon icon-arrow-up"></div>
                        <ul role="menu">
                            <li><a href="{% url 'wagtailcontacts_delete_contact' pk=form.instance.id %}">{% trans 'Delete' %}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}