{% load i18n %}
<table class="listing">
    <col />
    <col />
    <col width="16%" />
    <thead>
        <tr class="table-headers">
            <th>
                {% trans 'Link' %}
                {% if not is_searching %}
                    {% if ordering == 'title' %}
                        <a href="{% url 'wagtaillinks_index' %}" class="icon icon-arrow-down-after teal"></a>
                    {% else %}
                        <a href="{% url 'wagtaillinks_index' %}?ordering=title" class="icon icon-arrow-down-after"></a>
                    {% endif %}
                {% endif %}
            </th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        {% for instance in object_list %}
            <tr>
                <td class="title">
                    <h2><a class="page-choice" href="#{{ instance.pk }}" data-linktype="link" data-id="{{ instance.pk }}" data-title="{{ instance.title }}" data-url="{{ instance.url }}">{{ instance.title }}</a></h2>
                </td>
                <td><a href="{{ instance.url }}" target="_blank">{{ instance.url }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>