{% extends 'wagtailadmin/base.html' %}
{% load i18n %}
{% block titletag %}{% blocktrans with title=form.instance.name %}Editing {{ title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}events-menu page-editor{% endblock %}

{% block extra_css %}
    {% include 'wagtailadmin/pages/_editor_css.html' %}
{% endblock %}

{% block extra_js %}
    {% include 'wagtailadmin/pages/_editor_js.html' %}
{% endblock %}

{% block content %}
    {% trans 'Editing Event' as editing_str %}
    {% include 'wagtailadmin/shared/header.html' with title=editing_str subtitle=form.instance.name icon='date' %}
    <form action="{% url 'wagtailevents_edit_event' pk=form.instance.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_handler.render_form_content }}
        <footer>
            <ul>
                <li class="actions">
                    <div class="dropdown dropup dropdown-button match-width">
                        <input type="submit" value="{% trans 'Save' %}" class="button"/>
                        <div class="dropdown-toggle icon icon-arrow-up"></div>
                        <ul role="menu">
                            <li><a href="{% url 'wagtailevents_delete_event' pk=form.instance.id %}">{% trans 'Delete' %}</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}