{% extends 'wagtailadmin/base.html' %}
{% load i18n %}
{% block titletag %}{% blocktrans with title=address.label %}Delete {{ title }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}page-editor{% endblock %}

{% block content %}
    {% trans 'Delete Address' as del_str %}
    {% include 'wagtailadmin/shared/header.html' with title=del_str subtitle=address.label %}
    <div class="nice-padding">
        <p>{% trans 'Are you sure you want to delete this address?' %}</p>
        <form action="{% url 'wagtailaddresses_delete_address' address.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Yes' %}" class="serious" />
        </form>
    </div>
{% endblock %}