{% extends 'wagtailadmin/edit_handlers/chooser_panel.html' %}
{% load i18n %}

{% block form_field %}
    <div id="{{ field.id_for_label }}-chooser" class="chooser component-chooser {% if not is_chosen %}blank{% endif %}">
        <div class="chosen">
            <span class="title">{{ component.long_name }}</span>
            <div class="actions">
                {% if not field.field.required %}
                    <input type="button" class="action-clear button-small button-secondary" value="{% trans 'Clear Choice' %}">
                {% endif %}
                <input type="button" class="action-choose button-small button-secondary" value="{% trans 'Choose Another Component' %}">
                <input type="button" class="action-edit button-small button-secondary" value="{% trans 'Edit Component' %}">
            </div>
        </div>
        <div class="unchosen">
            <input type="button" class="action-choose button-small button-secondary" value="{% trans 'Choose a Component' %}">
        </div>
    </div>
    {{ field }}
{% endblock %}